<div>
    <div class='alert alert-info'>
        Please select a option to show the receipt details
    </div>
</div>

<div>
    <a class='btn btn-default' ng-class="{ 'btn-primary' : option == 1 }" ng-click='setup(1)'>Option 1</a>
    <a class='btn btn-default' ng-class="{ 'btn-primary' : option == 2 }" ng-click='setup(2)'>Option 2</a>
    <a class='btn btn-default' ng-class="{ 'btn-primary' : option == 3 }" ng-click='setup(3)'>Option 3</a>
</div>

<div style='margin-top:20px'>

     <table class='table table-hover table-striped table-bordered' width=100%>
         <th>Amount</th>
         <th>Name</th>
         <th>Category</th>
         <th style='text-align:right'>Price</th>
         <th style='text-align:right'>Tax</th>
         <th style='text-align:right'>Total</th>
         <tr ng-repeat='item in cart.items'>
             <td width='10%' align=left>
                <input type='number' readonly ng-model='item.amount' class='form-control'>
            </td>
             <td width='auto' style='vertical-align: middle'>
                <span title='#{{item.id}} {{item.name}}'>{{item.name}}</span>
                <span ng-if='item.imported' class='pull-right label label-info'>imported</span>
            </td>
            <td width='20%' style='vertical-align: middle'>
                {{ item.category.name }} 
                <span class='pull-right label label-danger' ng-if='excepts.indexOf(item.category.alias) != -1'>Tax free</span>
            </td>
             <td width='12.5%' style='vertical-align: middle' align='right'>{{item.price.toFixed(2) | currency }}</td>
             <td width='12.5%' style='vertical-align: middle' align='right'>{{item.values.taxrate.toFixed(2) | currency }}</td>
             <td width='12.5%' style='vertical-align: middle' align='right'>{{item.values.total.toFixed(2) | currency }}</td>
         </tr>
         
         <tr class=''>
              <td colspan='5' align='right'>Taxes </td>
              <td align='right'>{{cart.taxes | currency }}</td>           
         </tr>
         <tr class=''>
              <td colspan='5' align='right'>Total </td>
              <td align='right'>{{cart.total | currency }}</td>           
         </tr>
     </table>
    
</div>